Include /etc/ssh/sshd_config.d/*.conf
AllowUsers monadmin # superuser of monitor01
PermitRootLogin no
MaxAuthTries 3
MaxSessions 2
PasswordAuthentication no
PermitEmptyPasswords no
KbdInteractiveAuthentication no
UsePAM no
X11Forwarding no
PrintMotd no